@using ETicaretWebApp.Extensions
@using ETicaretWebApp.ViewModels
@model IndexProductViewModel

@{
    bool isAuthenticated = User.Identity?.IsAuthenticated == true;

    int resultStart = ((Model.Page - 1) * Model.PageSize) + 1;
    int resultEnd = Math.Min(resultStart + Model.PageSize - 1, Model.TotalClubs);

    bool isValidPage = resultStart <= Model.TotalClubs;

    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<section class="space-sm flush-with-above">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                @if (isValidPage)
                {
                    <a type="button" class="btn btn-sm btn-outline-primary @prevDisabled"
                   asp-action="Index" asp-route-page="@(Model.Page - 1)">
                        Prev
                    </a>
                    <a type="button" class="btn btn-sm btn-outline-primary @nextDisabled"
                   asp-action="Index" asp-route-page="@(Model.Page + 1)">
                        Next
                    </a>
                    <span class="text-muted text-small">Results @resultStart - @resultEnd of @Model.TotalClubs</span>
                }
            </div>
        </div>
        <ul class="row feature-list feature-list-sm">
            @foreach (var product in Model.Products)
            {
                <li class="col-12 col-md-6 col-lg-3 mb-3">
                    <div class="card">
                        <a type="button" asp-controller="Club" asp-action="DetailClub" asp-route-runningClub="@product.Name.GenerateSlug()" asp-route-id="@product.Id">
                            @if(@product.Image != null && product.Image != "")
                            {
                                <img class="card-img-top" src="@product.Image" alt="Card image cap">   
                            }
                            else
                            {
                                <img class="card-img-top" src="/img/sample.jpg" alt="Card image cap">   
                            }
                            
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">@product.Name</h4>
                            <p class="card-text">@product.Description</p>
                            <p class="card-text">₺@product.Price, Stock:@product.UnitsInStock</p>
                        </div>
                        <div class="card-footer card-footer-borderless d-flex justify-content-between">
                            <div>
                                <small>@product.Category.Name</small>
                            </div>
                            @if (isAuthenticated && User.IsInRole("admin"))
                            {
                                <div>
                                    <a type="button" class="btn btn-sm btn-outline-info" asp-controller="Club" asp-action="Edit" asp-route-id="@product.Id">
                                        Edit
                                    </a>
                                    <a type="button" class="btn btn-sm btn-outline-danger" asp-controller="Club" asp-action="Delete" asp-route-id="@product.Id">
                                        Delete
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                @if (isValidPage)
                {
                    <a type="button" class="btn btn-sm btn-outline-primary @prevDisabled"
                   asp-action="Index" asp-route-page="@(Model.Page - 1)">
                        Prev
                    </a>
                    <a type="button" class="btn btn-sm btn-outline-primary @nextDisabled"
                   asp-action="Index" asp-route-page="@(Model.Page + 1)">
                        Next
                    </a>
                    <span class="text-muted text-small">Results @resultStart - @resultEnd of @Model.TotalClubs</span>
                }
            </div>
        </div>
    </div>
</section>
